.wrapper {
  height: 300px;
  border: 1px solid black;
}
.wrapper-item-1, .wrapper-item-2, .wrapper-item-3 {
  height: 90px;
  border: 1px solid rgb(239, 235, 235);
  background: rgb(12, 74, 0);
  margin-bottom: 10px;
}
